body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}
.light{
    background-color: white;
    color: black;
}
.dark{
    background-color: black;
    color: white;
}
.container {
    margin: 20px auto;
    max-width: 400px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.form-group {
    margin-bottom: 20px;
}
.form-group label {
    display: block;
    margin-bottom: 10px;
    

}
.form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}
.form-group button {
    padding: 10px 20px;
    background-color: black;
    color: #fff;
    border: none;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: gray;
}
#weatherInfo {
    margin-top: 20px;
}
#history {
    margin-top: 20px;
}
ul{
    list-style-type: none;
}
li {
   cursor: pointer;
   margin: 5px;

}
#modebtn{
    margin-top: 20px;
    margin-left: 85%;
    padding: 5px 5px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: black;
    color: #ddd;
}
